/*
Theme Name: 	Nome do cliente
Version: 		1.0
Author: 		ITW Soluções
Author URI: 	http://itwsolucoes.com.br
*/

/*
===========================
CONTEÚDO:

01 Configurações iniciais
02 Tipografia
03 Cabeçalho
04 Rodapé
05 Conteúdo
06 Extras
07 Media queries 
===========================
*/

/* ---------------------------------------------------------------------------------------------------------- 
01 Configurações iniciais -----------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*Fontes*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

html, body {
    height: 100%;
    background: #dcf2ef url(./images/trans-fundo.png) no-repeat 10% 0%;
    font-family: 'Roboto', sans-serif;
}
#tudo {
    min-height: 100%;
    position: relative;
}
* html #tudo {
    height: 100%; /* hack para IE6 que trata height como min-height */
}
#rodape {
    position: absolute;
    bottom: 0;
}
#conteudo {
    padding-bottom: 30px;
}
/* Box sizing */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------------------- 
02 Tipografia -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/
h1,
h2,
h3,
h4,
h5,
h6{ font-weight:bold;
    letter-spacing: 0.5pt;}

.post-article p {
    font-family: Georgia, serif;
    font-size: 14px;
    color: #435754;
    line-height: 24px;
    text-shadow: 0px 1px 0px #fff;
    text-align: start;
}
/* ---------------------------------------------------------------------------------------------------------- 
03 Cabeçalho ------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* Slide */
#slide {
    width: 940px;
    height: 360px;
    border: 10px solid #fff;
    overflow: hidden;
    position:relative;
}
#slide img {
    top:  0;
    left: 0 ;
}
.home-slide {
    position: relative;
}
span#prev {
    display:block;
    position: absolute;
    width: 70px;
    height: 100%;
    background: red;
    left: 30px;
    z-index: 999;
    background: url("./images/slide-rw.png") no-repeat;
    top: 100px;
}

span#next {
    display:block;
    position: absolute;
    width: 70px;
    height: 100%;
    background: url("./images/slide-fw.png") no-repeat;
    z-index: 999;
    right: 0;
    top: 100px;
}

#nav{
    position: relative;
    top: 0px;
    z-index: 200;
    text-align: center;
}

/*Header*/
header {
    background: #db9863;
    height: 70px;
    padding: 10px 0px;
}

/*Search*/
header input#search {
    height: 50px;
    padding: 10px;
    font-style: italic;
    color: #b6b6b6;
    border: none;
    margin: 0;
    width: 350px;
    outline: 0 !important;
}

header span.search-icon {
    display: block;
    height: 50px;
    width: 50px;
    background: #9b6132 url(./images/search-icon.png) no-repeat 10px 10px;
    float: left;
}

/*Redes Sociais*/
ul.social-media {
    list-style: none;
    display: block;
    height: 50px;
}

ul.social-media li {
    float: left;
    display: inline-block;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
ul.social-media li:first-of-type {
    padding-left: 5px;
}

ul.social-media li a {
    height: 40px;
    width: 40px;
    background: black;
    display: block;
}

ul.social-media li:nth-child(1) a {
    background: url(./images/facebook-icon.png) no-repeat;
}

ul.social-media li:nth-child(2) a {
    background: url(./images/youtube-icon.png) no-repeat;
}

ul.social-media li:nth-child(3) a {
    background: url(./images/picasa-icon.png) no-repeat;
}

ul.social-media li:nth-child(4) a {
    background: url(./images/mail-icon.png) no-repeat;
}

/*Subnav*/
.sub-header {
    margin-top: 20px;
}

.sub-header .logo {
    background: #fff url(./images/costura.png) no-repeat right;
    width: 250px;
    height: 140px;
    float: left;
    padding: 10px;
}

.top-section > .grid_5 {
    margin: 0 !important;
}

.sub-header .random-header-message {
    background: #fffdcc url(./images/fundo-mensagem-top.png) no-repeat right;
    width: 690px;
    height: 140px;
    float: left;
}

.random-header-message p {
    font-family: Georgia, serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 14px;
    color: #7c7949;
    padding: 5%;
    line-height: 22px;
}

/*Navegação*/

div.menu-nav-container {
    background: #fff;
    margin-top: 30px;
    position: relative;
}

div.menu-nav-container a {
    text-decoration: none;
    font-size: 14px;
}
div.menu-nav-container > ul.menu {
    padding: 15px;
    height: 50px;
}

div.menu-nav-container > ul.menu li.menu-item a {
    color: #747474;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin: 0 23px;
}

div.menu-nav-container > ul.menu li.menu-item a:hover {
    border-bottom: 2px solid #db9863;
}

/*Menu Level 1*/
div.menu-nav-container > ul.menu ul.sub-menu {
    display: none;
}

div.menu-nav-container ul.menu li.menu-item:hover > ul.sub-menu {
    display: block;
}

div.menu-nav-container > ul.menu ul.sub-menu {
    background: #db9863;
    left: 0px;
    min-width: 225px;
    position: absolute;
    top: 70px;
    z-index: 999;
}

div.menu-nav-container > ul.menu ul.sub-menu:before {
    content: "";
    display: block;
    height: 35px;
    position: absolute;
    top: -35px;
    min-width: 225px;
}

div.menu-nav-container > ul.menu li.menu-item > ul.sub-menu:after {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

div.menu-nav-container > ul.menu li.menu-item > ul.sub-menu:after {
    border-color: rgba(219, 152, 99, 0);
    border-bottom-color: #db9863;
    border-width: 10px;
    left: 27%;
    margin-left: -10px;
}

div.menu-nav-container > ul.menu li.menu-item > ul.sub-menu li.menu-item a {
    color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #b67541;
    display: block;
    -webkit-box-shadow: 0px 1px 0px #ddb08d;
    -moz-box-shadow:    0px 1px 0px #ddb08d;
    box-shadow:         0px 1px 0px #ddb08d;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5);
    margin: 0;
    width: 100%;
}

div.menu-nav-container > ul.menu li.menu-item > ul.sub-menu li.menu-item a:hover {
    background: #ecb283;

}

#nav a {}
#nav a.activeSlide {}
#nav a:focus { outline: none; }

/* ---------------------------------------------------------------------------------------------------------- 
04 Rodapé ---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
div.footer-links {
    background: #a5d6cf;
    min-height: 310px;
    margin-top: 30px;
}


/*Footer*/
footer {
    background: #db9863;
    min-height: 680px;
}

/*Info e Links*/
p.client-info {
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 14px;
    color: #4c3f35;
}
/*Maps*/
div.map-frame {
    overflow: hidden;
    width: 940px;
    height: 390px;
    border: 10px solid #fff;
    background: lightgoldenrodyellow;
    margin: 30px 0px;
}

/*Endereço, Redes Sociais e Logo Rodapé*/

img.logo-footer {
    float: right;
}


/*Assinatura ITW*/
div.copyright {
    background: #b47747;
    border-bottom: 5px solid #814f27;
    height: 55px;
}

div.copyright p {
    padding-top: 14px;
    color: #4c3f35;
}
div.copyright > .container_16 {
    position: relative;
}

img.logo-itw {
    position:absolute;
    right: 0;
    bottom: -15px;
}


/* ---------------------------------------------------------------------------------------------------------- 
05 Conteúdo -------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*Slide*/
.home-slide {
    margin-top: 60px;
    margin-bottom: 50px;
}

/*Headings de Areas*/

h2.noticias {
    background: url(./images/artigo.png) no-repeat 0px 8px;
    border-bottom: 10px solid #a4d5ce;
    text-transform: uppercase;
    color: #435754;
    font-size: 24px;
    padding-left: 50px;
    font-weight: normal;
    line-height: 40px;
}

h2.videos {
    background: url(./images/videos.png) no-repeat 0px -2px;
    border-bottom: 10px solid #a4d5ce;
    text-transform: uppercase;
    color: #435754;
    font-size: 24px;
    padding-left: 50px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 10px;
}

h2.central {
    background: url(./images/central-oracao.png) no-repeat 0px -1px;
    border-bottom: 10px solid #a4d5ce;
    text-transform: uppercase;
    color: #435754;
    font-size: 24px;
    padding-left: 50px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 10px;
}

h2.links-uteis {
    background: url(./images/links-uteis.png) no-repeat 0px -2px;
    border-bottom: 10px solid #a4d5ce;
    text-transform: uppercase;
    color: #435754;
    font-size: 24px;
    padding-left: 50px;
    font-weight: normal;
    line-height: 40px;
    margin-bottom: 20px;
}

h2.acesso-restrito {
    background: url(./images/acesso-restrito.png) no-repeat 0px 0px;
    text-transform: uppercase;
    color: #435754;
    font-size: 14px;
    padding-left: 50px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #91bdb6;
    box-shadow: 0px 1px 0px #fff;
}


/*Post*/
div.post {
    border-bottom: 1px solid #91bdb6;
    box-shadow: 0px 1px 0px #fff;
    /*padding-bottom: 30px;*/
    overflow: hidden;
}

div.entry {
    position: relative;
    overflow: hidden;
}

div.post-article {
    float: left;
    position: relative;
    width: 280px;
    text-overflow: ellipsis;
}

div.post-header {

}

div.post-header h3 {
    border-left: 5px solid #435754;
    overflow: hidden;
    margin-top: 15px;
}

div.post-header h3 a {
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    display: block;
    float: left;
    width: 49%;
    padding-left: 10px;
    color: #435754;
}

div.post-header h3 span {
    display: block;
    float: right;
    width: 51%;
    text-align: right;
    padding-top: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #435754;
}

div.post-header p, div.post-header p a {
    color: #435754;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 0px;

}
/*Botões Leia Mais*/
a.btn-read-more {
    position: relative;
    left: -300px;
    bottom: 50px;
    display: block;
    padding: 8px 0px;
    background: #db9863;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5) !important;
    width: 100%;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 4px 0 #9f6639;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.5pt;
}

a.btn-read-more:active {
    -webkit-box-shadow: 0px 2px 0px #9f6639;
    -moz-box-shadow: 0px 2px 0px #9f6639;
    box-shadow: 0px 2px 0px #9f6639;
    bottom: 45px;
    background: #e8af81;
}

a.btn-read-more:hover {
    background: #e8af81;
}

/*Sidebar*/

/*Central Oração*/
.central-oracao {
    margin: 50px 0px;
}


/*Acesso Restrito*/

div.acesso {
    background: #c7e4e0;
    padding: 20px 25px 15px;
}

.acesso label {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 24px;
}

.acesso form input {
    width: 230px;
    float: right;
    height: 25px;
    border: none;
    outline: 0;
}

.acesso form button {
    float: right;
    background: #db9863;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5) !important;
    border: none !important;
    padding: 5px 10px;
    margin-top: 15px;
    box-shadow: 0 3px 0 #9f6639;
    display: block;
    border-radius: 2px;
}


.acesso form button:active {
    -webkit-box-shadow: 0px 2px 0px #9f6639;
    -moz-box-shadow: 0px 2px 0px #9f6639;
    box-shadow: 0px 2px 0px #9f6639;
    top: 3px;
    position: relative;
    background: #e8af81;
    outline: 0 !important;
}
.acesso form button:focus {
    outline: 0 !important;

}

.acesso form button:hover {
    background: #e8af81;
}

/*Links Uteis*/

ul.links-list {
    margin-bottom: 40px;
}



/* ---------------------------------------------------------------------------------------------------------- 
06 Extras ---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.excerpt-thumb > img.pull-left {
    margin-right: 20px;
}


/*Botões Leia Mais*/
a.btn-veja-mais {
    display: block;
    padding: 12px 0px;
    background: #db9863;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    border-radius: 2px;
    box-shadow: 0px 4px 0px #9f6639;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.5) !important;
    letter-spacing: 0.5pt;
}

a.btn-veja-mais:active {
    -webkit-box-shadow: 0px 2px 0px #9f6639;
    -moz-box-shadow: 0px 2px 0px #9f6639;
    box-shadow: 0px 2px 0px #9f6639;
    top: 3px;
    position: relative;
    background: #e8af81;
}

a.btn-veja-mais:hover {
    background: #e8af81;
}

.youtubeFeeder {
    margin: 0 !important;
}
/* ---------------------------------------------------------------------------------------------------------- 
07 Media queries  -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* 400 and down */
@media screen and (max-width:400px) {


}

/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio:2) {


}